{% trans_default_domain "gat_activity" %}
{# Tengo que pasarle activities, enrollments#}
{% for activity in activities %}
    <div id="activity-{{activity.id}}" class="col-xs-12 activity category-all {{activity.indexfilter}}"  style="display:none;"  >
        <div class="row">
            <div class="col-xs-8">
                <h3 class="titulo-actividad"><a href="{{path('uah_gestoractividades_activity_index',{'activity_id': activity.id,'slug':activity.slug})}}">{{activity.name}}</a></h3>
                <div class="abstract-actividad ocultado-vertical">
                    {{activity.description|raw('html')}}
                </div>
                <a class="leer-mas" href="#" data-toggle="modal" data-target="#actividadModalPrincipal" data-activity-id="{{activity.id}}">Leer mas</a>
                <div class="categories-activity"><span>Categorias:</span>{{activity.CategorySlug}}</div>
            </div>
            <div class="col-xs-4 center-block collapse right-column">
                <h3 class="fecha-publicidad-actividad activity-date">{{activity.startdate|date("d/m/Y")}}</h3>
                <a href="{{path('uah_gestoractividades_activity_index',{'activity_id': activity.id,'slug':activity.slug})}}">
                    <img class="center-block img-rounded img-activity img-small" data-img-src="{{asset(activity.imagepath)}}" src="{{asset(activity.imagepath)}}" data-toggle="modal" data-target="#img-modal" >
                </a>
                <div class="credits-index text-center">
                    Créditos: <span class="badge">
                        {% if activity.numberOfCreditsMax != 0 or activity.numberOfECTSCreditsMax != 0 %}
                            {{'Si'|trans}}
                        {% else %}
                            {{'No'|trans}}
                        {% endif %}
                    </span>
                </div>
                <div class="enrollment-button">
                    {% if activity.id in enrollments  %}
                        <button class="btn btn-default center-block btn-success already-enrolled">
                            <span class="texto">Inscrito!</span>
                            <i class="fa fa-check fa-2x"></i>
                        </button>
                    {% elseif activity.numberOfPlacesOffered <= activity.numberOfPlacesOccupied %}
                        <button class="btn btn-default center-block btn-info no-places">
                            <span class="texto">{{'No hay plazas!'|trans}}</span>
                            <i class="fa fa-times fa-2x"></i>
                        </button>
                    {% else %}
                        <button class="btn btn-default center-block btn-primary enroll-button" data-activity-id="{{activity.id}}">
                            <span class="texto">{{'Inscribete!'|trans}}</span>
                            <i class="fa fa-pencil-square-o fa-2x"></i>
                        </button>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endfor %}
