{% extends '::backend.html.twig' %}
{% block javascripts %}
    {{parent()}}
    <script type="text/javascript" src="{{ asset('bundles/uahgestoractividades/vendor/zeroclipboard/dist/ZeroClipboard.min.js') }}"></script> 
    {% javascripts 
        '@UAHGestorActividadesBundle/Resources/public/js/backend/admin.js'
    filter='?uglifyjs2' %}
    <script type="text/javascript" src="{{ asset_url }}" async></script>
    {% endjavascripts %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets 
        '@UAHGestorActividadesBundle/Resources/public/css/backend/admin.less'%}
    <link href="{{ asset_url }}" rel="stylesheet" type="text/css" />          
    {% endstylesheets %}
{% endblock %}
{% block title %}
    Administrar actividad
{% endblock %}
{% block acciones_datos %}
    <div class="row acciones_datos hidden-print">
        <div class="flex-container">
            <div class="flex-item">
                <button type="button" class="btn btn-default" title="Copia todos los e-mails al portapapeles" id="btn_copy" >Copiar e-mails <br>a portapapeles</button>
            </div>
            <div class="flex-item">
                <button type="button" class="btn btn-default" id="btn_recognize" data-activity-id="{{activity.id}}" title="Reconoce los créditos marcados a las inscripciones seleccionadas">Reconocer créditos <br>a los marcados</button>
            </div>
            <div class="flex-item">
                <button type="button" class="btn btn-default" id="btn_unrecognize" data-activity-id="{{activity.id}}" title="Marca los inscritos a los que desees quitar el reconocimiento de los créditos">Eliminar reconocimiento</button>
            </div>
            <div class="flex-item">
                <button type="button" class="btn btn-default" id="btn_present" data-activity-id="{{activity.id}}" title="Si te has equivocado y quieres marcar a alguien como inscrito de nuevo para reconocerle los créditos usa esta opción" >Marcar como asistente</button>
            </div>
            <div class="flex-item">
                <button type="button" class="btn btn-default" id="btn_close_activity" data-activity-id="{{activity.id}}" title="Cierra la actividad. Si ya has marcado todos los reconocimientos y no quieres hacer más modificaciones, usa esta opción">Cerrar actividad</button>
            </div>
            <div class="flex-item">
                <button type="button" class="btn btn-default" id="btn_print_report" data-activity-id="{{activity.id}}" title="Imprime un listado de los asistentes para llevar un control por firma">Imprimir listado de asistentes</button>
            </div>

            <div class="flex-item">
                <button type="button" class="btn btn-default" id="btn_show_pending" data-activity-id="{{activity.id}}" title="Recarga la página con solamente aquellos que estén pendientes de marcar">Mostrar solamente los pendientes</button>
            </div>
            <div class="flex-item">
                <button type="button" class="btn btn-default" id="btn_select_all" data-activity-id="{{activity.id}}" title="Marca todos como seleccionados para realizar acciones globales">Marcar todos como seleccionados</button>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="visible-print-block print header-print">
        <div class="row">
            <div class="col-xs-4">Título de la actividad(Es):</div>
            <div class="col-xs-8">{{activity.name}}<br></div>
        </div>
        <div class="row">
            <div class="col-xs-4">Título de la actividad(En):</div>
            <div class="col-xs-8">{{activity.englishName|default('-')}}<br></div></div>
        <div class="row">
            <div class="col-xs-4">Días de celebración:</div>
            <div class="col-xs-8">{{activity.celebrationDatesUnencoded()}}<br></div>
        </div>
        <div class="row">
            <div class="col-xs-4">Primer día:</div>
            <div class="col-xs-8">{{activity.startDate |date('d/m/Y')}}<br></div>
        </div>
        <div class="row">
            <div class="col-xs-4">Último día:</div>
            <div class="col-xs-8">{{activity.finishDate |date('d/m/Y')}}<br></div>
        </div>

    </div>
    <div class="col-xs-12 visible-print-block print" style="height:20px;"></div>
    <div class="row" style="padding-top:20px;">
        <div class="page-break"></div>

        <table class="table table-bordered tbl_enrolled">
            <thead>
                <tr>
                    <th class="hidden-xs">#</th>
                    <th class="nombre-actividad">Nombre y apellidos</th>
                    <th class="hidden-print">E-mail</th>
                    <th>Fecha Inscripción</th>
                    <th>Tipo de plan de estudios</th>
                    <th class="hidden-print">Acción</th>
                    <th class="hidden-print">Créditos a reconocer</th>
                    <th class="visible-print print" >Firma</th>
                </tr>
            </thead>
            <tbody>

                {% for enrollment in enrollments %}
                    {% if loop.index % 13 == 0%}
                </table>
                <div class="page-break"></div>

                <table class="table table-bordered tbl_enrolled">
                    <thead>
                        <tr>
                            <th class="hidden-xs">#</th>
                            <th class="nombre-actividad">Nombre y apellidos</th>
                            <th class="hidden-print">E-mail</th>
                            <th>Fecha Inscripción</th>
                            <th>Tipo de plan de estudios</th>
                            <th class="hidden-print">Acción</th>
                            <th class="hidden-print">Créditos a reconocer</th>
                            <th class="visible-print print" >Firma</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% endif %}
                    <tr data-id-enrollment="{{enrollment.id}}">
                        <td class="hidden-xs">#{{ loop.index }}</td>
                        <td>{{ enrollment.name ~ " " ~ enrollment.apellido_1 ~ " " ~ enrollment.apellido_2}}</td>
                        <td class="hidden-print email">{{ enrollment.email }}</td>
                        <td>{{ enrollment.dateRegistered |date('d/m/Y') }}</td>
                        <td>
                            {% if enrollment.status_degree == "STATUS_RENEWED" %}
                                Plan renovado
                            {% elseif enrollment.status_degree == "STATUS_NON_RENEWED" %}
                                Plan no renovado
                            {% else %}
                                plan no reconocido
                            {% endif %}

                        </td>
                        {% set min_step_credits = 0.05 %}
                        {% if enrollment.status_enrollment == "STATUS_ENROLLED" %}      
                            {% if enrollment.status_degree is defined %}
                                {# Aquí configuro el numero mínimo y máximo de créditos para la validación automática html #}
                                {% if enrollment.status_degree == "STATUS_RENEWED" %}
                                    {%  set max_credits = activity.numberOfECTSCreditsMax %}
                                    {%  set min_credits = activity.numberOfECTSCreditsMin %}
                                {% elseif enrollment.status_degree == "STATUS_NON_RENEWED" %}
                                    {%  set max_credits = activity.numberOfCreditsMax %}
                                    {%  set min_credits = activity.numberOfCreditsMin %}
                                {% endif %}
                            {% else %}
                                {% set max_credits = 0 %}
                                {% set min_credits = 0 %}
                            {% endif %}

                            <td class="reconocer no-print"><input type="checkbox" class="check_reconocer" value="{{enrollment.id}}"> </td>
                                {# Alternativa para reconocimiento de numeros ^[0-9]{1,2}\,[0-9]{1}[0,5]{1}$|^[0-9]{1,2}\.[0-9]{1}[0,5]{1}$ #}
                            <td class="reconocer no-print ayuda" data-content="Minimo: {{min_credits}} | Máximo: {{max_credits}}"><input type="number" step="{{ min_step_credits }}"  pattern="[0-9]+([\.|,][0-9]+)?"
                                                                  min="{{ min_credits}}" 
                                                                  max="{{ max_credits }}" 
                                                                  class="numero_de_creditos" 
                                                                  placeholder="Número de créditos"
                                                                  tabindex="{{loop.index}}">
                            </td>
                        {% elseif enrollment.status_enrollment =="STATUS_RECOGNIZED" %}                            
                            <td class="unrecognize hidden-print"><input type="checkbox" class="check_unrecognize" value="{{enrollment.id}}"></td>
                            <td class="unrecognize hidden-print"><input type="text" class="numero_de_creditos" placeholder="Número de créditos" disabled value="{{enrollment.recognizedCredits}}"></td>
                            {% elseif enrollment.status_enrollment == "STATUS_NOT_RECOGNIZED" %}
                            <td class="not-present hidden-print"><input type="checkbox" value="{{enrollment.id}}"></td>
                            <td class="not-present hidden-print"><input type="text" disabled value="0"></td>
                            {% elseif enrollment.status_enrollment == "STATUS_PENDING_VERIFICATION" %}
                            <td><input type="checkbox" class="check_reconocer" disabled checked></td>
                            <td class="unrecognize hidden-print"><input type="text" class="numero_de_creditos" placeholder="Número de créditos" disabled value="{{enrollment.recognizedCredits}}"></td>
                            {% elseif enrollment.status_enrollment == "STATUS_VERIFIED" %}
                            <td class="hidden-print"><input type="checkbox" class="check_reconocer"  disabled checked> </td>
                            <td class="unrecognize hidden-print"><input type="text" class="numero_de_creditos" placeholder="Número de créditos" disabled value="{{enrollment.recognizedCredits}}"></td>
                            {% endif %}
                        <td class="visible-print-block print"></td>


                    </tr>
                    {% else %}

                        <tr>
                            <td colspan="6" class="text-center">
                                No hemos encontrado ningún usuario inscrito en la actividad.
                            </td>
                        </tr>

                        {% endfor %}
                            <tr class="visible-print-block print"><td></td><td></td><td></td><td></td><td></td></tr>
                            <tr class="visible-print-block print"><td></td><td></td><td></td><td></td><td></td></tr>
                            <tr class="visible-print-block print"><td></td><td></td><td></td><td></td><td></td></tr>
                            <tr class="visible-print-block print"><td></td><td></td><td></td><td></td><td></td></tr>

                        </tbody>
                    </table>
                </div>

                {% endblock %}