{% extends '::frontend.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@UAHGestorActividadesBundle/Resources/public/css/frontend/activity/activity.less' %}
    <link href="{{ asset_url }}" rel="stylesheet" type="text/css" />          
    {% endstylesheets %}
    <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts '@UAHGestorActividadesBundle/Resources/public/js/index.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}
{% block content %}
    <div class="container">
        {% if app.user is not null and (activity.organizer == app.user or is_granted('ROLE_UAH_ADMIN')) %}        
            <div class="row hidden-print">
                <div class="text-center col-xs-6">
                    <a href="{{path('uah_gestoractividades_activity_edit',{'activity_id': activity.id})}}">
                        <h4>EDITAR</h4>
                    </a>
                </div>
                <div class="text-center col-xs-6">
                    <a href="{{path('uah_gestoractividades_activity_admin',{'activity_id': activity.id})}}">
                        <h4>ADMINISTRAR</h4>
                    </a>
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="activity" data-activity-id="{{activity.id}}">
                <div class="row">
                    <div class ="title text-center">
                        <h1>{{ activity.name}}</h1>
                    </div>
                </div>
                <div class="row sub-title">
                    <div class="left-column col-lg-8 col-xs-8">
                        <span class="organizador pull-left">Organizado por:<span><a href="{{activity.url}}">{{activity.organizername}}</a></span></span>
                    </div>
                    <div class="left-column col-lg-4 col-xs-4 text-center">
                        <div class="row">
                            <div class="col-xs-4">Inicio</div><div class="col-xs-8">{{activity.startdate|date("d/m/Y")}}</div>
                            <div class="col-xs-4">Final</div><div class="col-xs-8">{{activity.finishdate|date("d/m/Y")}}</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="left-column col-lg-8 col-xs-8 activity-description">
                        <div class="social-share">
                            <div class="col-xs-12 hidden-print">
                                <a href="https://twitter.com/share" class="twitter-share-button" data-text="{{activity.socialMessage|default('Mira la actividad a la que voy a asistir')}}" data-lang="es" data-size="large">Twittear</a>
                                <script>!function(d, s, id) {
                                        var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
                                        if (!d.getElementById(id)) {
                                            js = d.createElement(s);
                                            js.id = id;
                                            js.src = p + '://platform.twitter.com/widgets.js';
                                            fjs.parentNode.insertBefore(js, fjs);
                                        }
                                    }(document, 'script', 'twitter-wjs');</script>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <span>
                                {{activity.description|raw('html')}}
                            </span>
                        </div>
                    </div>
                    <div class="right-column col-lg-4 col-xs-4 ">
                        <div class="row img-small photo">
                            <img  class="center-block img-rounded img-activity img-big hidden-print"  data-img-src="{{asset(activity.imagepath)}}"  data-toggle="modal" data-target="#imgmodal" src="{{asset(activity.imagepath)}}" title="Haz click para verla a tamaño real!">
                        </div>
                        <div class="separator-row row center-block hidden-print"></div>
                        <div class="enrollment-button row hidden-print">
                            {% if permissions == "ENROLLABLE" %}
                                <button class="btn btn-default center-block btn-primary enroll-button">
                                    <span class="texto">Inscribete!</span>
                                    <i class="fa fa-pencil-square-o fa-2x"></i>
                                </button>
                            {% elseif permissions == "ENROLLED" and app.user is not null %}
                                <button class="btn btn-default center-block btn-success already-enrolled">
                                    <span class="texto">Inscrito!</span>
                                    <i class="fa fa-check fa-2x"></i> 
                                </button>
                            {% endif %}
                        </div>

                        {% if activity.numberOfCreditsMax != 0 or activity.numberOfECTSCreditsMax != 0 %}
                            <div class="separator-row row center-block"></div>
                            <div class="credits row">
                                <div class="col-xs-12 credits-text">Créditos (min-max)</div>
                                <div class="col-xs-3 text-justify">Libre</div>
                                <div class="col-xs-8 col-xs-offset-1 text-center">{{activity.numberOfCreditsMin}} - {{activity.numberOfCreditsMax}}</div>
                                <div class="col-xs-3 text-justify">ECTS</div>
                                <div class="col-xs-8 col-xs-offset-1 text-center">{{activity.numberOfECTSCreditsMin}} - {{activity.numberOfECTSCreditsMax}}</div>
                            </div>
                        {% endif %}
                        <div class="separator-row row center-block"></div>
                        <div class="workload row">
                            <div class="col-xs-4 text-center">Trabajo adicional</div>
                            <div class="col-xs-6 col-xs-offset-2">
                                <span class="fa-stack">
                                    <i class="fa fa-square-o fa-stack-2x"></i>
                                    {% if activity.hasAdditionalWorkload %}
                                        <i class="fa fa-check fa-stack-1x"></i>
                                    {% else %}
                                        <i class="fa fa-times fa-stack-1x"></i>
                                    {% endif %}
                                </span>                               

                            </div>
                        </div>
                        <div class="separator-row row center-block"></div>
                        <div class="hours row">
                            <div class="col-xs-4 text-left">Horas</div>
                            <div class="col-xs-6 col-xs-offset-2 text-center"> {{activity.numberOfHours}} </div>
                        </div>
                        <div class="separator-row row center-block"></div>
                        <div class="dates row">
                            <div class="col-xs-12 text-center">Fechas</div>
                            {% for fecha in activity.celebrationDates %}
                                <div class="col-xs-12 text-center date">
                                    {{fecha|date('d/m/Y')}}
                                </div>

                            {% endfor %}
                        </div>    
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block modal %}
    <div id="imgmodal" class="modal bs-example-modal-lg fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">

            <div class="modal-content ">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 class="modal-title" id="modalFoto">Foto a tamaño completo</h3>
                </div>
                <div class="modal-body">
                    <img class="center-block img-rounded img-activity" src="">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    {#
    <div id="imgmodal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width:800px;">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
            <img src="">
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        </div>
    </div>
    #}
{% endblock %}