{% extends '::backend.html.twig' %}
{% block javascripts %}
    {{parent()}}
    <script type="text/javascript" src="{{ asset('bundles/uahgestoractividades/vendor/zeroclipboard/dist/ZeroClipboard.min.js') }}"></script> 
    {% javascripts 
        '@UAHGestorActividadesBundle/Resources/public/js/backend/myactivities.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets 
        '@UAHGestorActividadesBundle/Resources/public/css/backend/myactivities.less'%}
    <link href="{{ asset_url }}" rel="stylesheet" type="text/css" />          
    {% endstylesheets %}
{% endblock %}

{% block acciones_datos %}
    <div class="row acciones_datos hidden-print">
        <div class="flex-container">
            <div class="flex-item">
                <button type="button" class="btn btn-default" title="Cierra una actividad. Esto implica que no se pueden reconocer más estudiantes. Solamente un administrador puede deshacer esta acción" id="btn_close">Cerrar una actividad</button>
            </div>
            <div class="flex-item">
                <button type="button" class="btn btn-default" id="btn_create" title="Ir a crear un curso">Crear un curso</button>
            </div>
            <div class="flex-item">
                <button type="button" class="btn btn-default" id="btn_ask_approval" title="Envía al administrador las actividades que marques para que se puedan aprobar">Solicitar aprobación</button>
            </div>
            <div class="flex-item">
                <button type="button" class="btn btn-default" id="btn_update_publish_date" title="Actualiza la fecha de comienzo de publicidad de las actividades marcadas a fecha de hoy">Actualizar fecha de publicación</button>
            </div>
            <div class="flex-item">
                <button type="button" class="btn btn-default" id="btn_show_all" title="Muestra también todas las actividades cerradas">Mostrar todas las actividades</button>
            </div>            
        </div>
    </div>
    <table class="table table-bordered top-buffer">
        <thead>
            <tr>
                <th>#</th>
                <th class="nombre-actividad">Titulo</th>
                <th class="hidden-print">Estado</th>
                <th>Fecha de publicidad</th>
                <th>Seleccionar</th>
            </tr>
        </thead>
        <tbody>
            {% for activity in activities %}
                <tr>
                    <td>{{loop.index}}</td>
                    <td><a href="{{ path("uah_gestoractividades_activity_index",{"activity_id": activity.id})}}">{{activity.name}}</a></td>
                    <td>{{activity.status.nameEs}}</td>
                    <td class="text-center">{{activity.publicityStartDate|date('d/m/Y')}}</td>
                    <td class="text-center"><input type="checkbox" value="{{activity.id}}"></td>
                </tr>
                {% else %}
                    <tr>
                        <td colspan="5" class="text-center">
                            No hemos encontrado ningún actividad tuya. 
                            Porque no pruebas a <a href="{{path('uah_gestoractividades_activity_create')}}">crear</a>alguna
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% endblock %}