{# app/Resources/views/frontend.html.twig #}
{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets 
        '@UAHGestorActividadesBundle/Resources/public/css/backend/backend.less' filter='uglifycss'%}
    <link href="{{ asset_url }}" rel="stylesheet" type="text/css" />          
    {% endstylesheets %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
{% block body %}
    {% block navbar %}
        {{parent()}}
    {% endblock %}
    {% block flashmessages %}
        {{ parent() }}
    {% endblock %}
    <div class="container bottom-buffer">
        {% block acciones_datos %}
        {% endblock %}

        {% block content %}
        {% endblock %}
    </div>

{% endblock %}
