{# app/Resources/views/frontend.html.twig #}
{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets 
        '@UAHGestorActividadesBundle/Resources/public/css/backend/backend.less'%}
    <link href="{{ asset_url }}" rel="stylesheet" type="text/css" />          
    {% endstylesheets %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
{% block body %}
    {% block navbar %}
        <div class="navbar navbar-default navbar-fixed-top hidden-print" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">      
                        <span class="sr-only">Ver navegación</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="#">
                        {% image '@UAHGestorActividadesBundle/Resources/public/images/logo.gif' %}
                        <img height="59" src="{{asset_url}}" alt="Universidad de Alcala">

                        {% endimage %}

                    </a>                    
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="{{ path('uah_gestoractividades_default_index') }}">Inicio</a></li>
                            {% if app.user %}
                            <li><a href="{{ path("uah_gestoractividades_login_logout")}}" >Log out</a></li>
                            {% else %}
                            <li><a href="{{ path("uah_gestoractividades_login_login")}}" >Log in</a></li>

                        {% endif %}
                        {# fp_openid_security_check", {'openid_identifier': 'http://yo.rediris.es/','_target_path': "/"}) }}"#}

                        <li>
                            <a href="{{ path('uah_gestoractividades_profile_index') }}">Perfil</a>
                        </li>
                        {% if is_granted('ROLE_UAH_ADMIN') %}
                            <li class="dropdown">
                                <a id="dropdownMenu1" href="#" data-toggle="dropdown">
                                    Administrar
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                    <li role="presentation">
                                        <a role="menuitem" tabindex="-1" href="{{path('uah_gestoractividades_admin_activities')}}">Actividades</a>
                                    </li>
                                    <li role="presentation">
                                        <a role="menuitem" tabindex="-1" href="{{path('uah_gestoractividades_admin_users')}}">Usuarios</a>
                                    </li>
                                    <li role="presentation">
                                        <a role="menuitem" tabindex="-1" href="{{path('uah_gestoractividades_admin_degrees')}}">Titulaciones</a>
                                    </li>
                                    <li role="presentation">
                                        <a role="menuitem" tabindex="-1" href="{{path('uah_gestoractividades_admin_categories')}}">Categorías</a>
                                    </li>
                                </ul>
                            </li>
                        {% endif %}
                        {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                            <li>
                                <a href="{{path('uah_gestoractividades_admin_activities', {_switch_user:'exit'}) }}">EXIT</a>
                            </li>
                        {% endif %}
                        <li>
                            <form class="form-inline pull-right" role="form">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Buscar">
                                </div>
                                <button type="submit" class="btn btn-default">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </form>
                        </li>
                    </ul>                    
                </div><!--/.nav-collapse -->
            </div>
        </div>
    {% endblock %}
    {% block flashmessages %}
        {{ parent() }}
    {% endblock %}
    <div class="container">
        {% block acciones_datos %}
        {% endblock %}

        {% block content %}
        {% endblock %}
    </div>

{% endblock %}