<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %}</title>
        <link href="http://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed|Alegreya:700" rel="stylesheet" type="text/css" />
        {% block stylesheets %}
            {% stylesheets
                '@UAHGestorActividadesBundle/Resources/public/vendor/normalize-css/normalize.css'
                'bootstrap/css/bootstrap.css' 
                '@UAHGestorActividadesBundle/Resources/public/css/base/*.less'
                '@UAHGestorActividadesBundle/Resources/public/vendor/qTip2/jquery.qtip.min.css'
                filter='cssrewrite'%}
            <link href="{{ asset_url }}" rel="stylesheet" type="text/css" />            
            {% endstylesheets %}

        {% endblock %}
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="hide" id="csrf-ajax-token">{{csrf_token(csrf_initialize|default('basico'))}}</div>
        {% block body %}
            {% block navbar %}
                <div class="navbar navbar-default navbar-fixed-top hidden-print" role="navigation">
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">      
                                <span class="sr-only">Ver navegación</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a href="#">
                                {% image '@UAHGestorActividadesBundle/Resources/public/images/logo.gif' %}
                                <img height="59" src="{{asset_url}}" alt="Universidad de Alcala">
                                {% endimage %}
                            </a>                    
                        </div>
                        <div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">
                                <li><a href="{{ path('uah_gestoractividades_default_index') }}">Inicio</a></li>

                                {% if app.user %}
                                    <li><a href="{{ path("uah_gestoractividades_login_logout")}}" >Log out</a></li>
                                    {% else %}
                                    <li><a href="{{ path("uah_gestoractividades_login_login")}}" >Log in</a></li>
                                    {% endif %}
                                <li><a href="{{ path('uah_gestoractividades_perfil_index') }}">Perfil</a></li>
                                    {% if user is defined and user.type == 'admin' %}
                                    <li><a href="{{ path('uah_gestoractividades_admin_index') }}">Administrar</a></li>
                                    {% endif %}
                                <li>
                                    <form class="form-inline pull-right" role="form">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Buscar">
                                        </div>
                                        <button type="submit" class="btn btn-default">
                                            <span class="glyphicon glyphicon-search"></span>
                                        </button>
                                    </form>
                                </li>
                            </ul>                    
                        </div><!--/.nav-collapse -->
                    </div>
                </div>
            {% endblock %}  
            {% block flashmessages %}
                {% include 'BraincraftedBootstrapBundle::flash.html.twig' with { 'close': true } %}
                {% block notifications %}
                    <div class="container">
                        <div class="alert alert-dismissable hide message" id="notification">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <strong id="type"></strong>
                            <span id="message"></span>
                        </div>
                    </div>
                {% endblock %}
            {% endblock %}

        {% endblock %}
        <div class="ajax-loading"></div>
    </body>
    {% block javascripts %}
        {% javascripts 
            'bootstrap/js/jquery.js'
            'bootstrap/js/bootstrap.js'
            '@UAHGestorActividadesBundle/Resources/public/vendor/holderjs/holder.js'
            '@UAHGestorActividadesBundle/Resources/public/vendor/jquery.cookie/jquery.cookie.js'
            '@UAHGestorActividadesBundle/Resources/public/vendor/bootbox.js/bootbox.js'
            '@UAHGestorActividadesBundle/Resources/public/js/base/base.js'
            '@UAHGestorActividadesBundle/Resources/public/vendor/qTip2/jquery.qtip.min.js' %}                
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% javascripts    '@UAHGestorActividadesBundle/Resources/public/js/enroll.js'%}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}

        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/qtip2/2.2.0/jquery.qtip.min.js"></script>
    {% endblock %}
</html>
