{# app/Resources/views/frontend.html.twig #}
{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@UAHGestorActividadesBundle/Resources/public/css/frontend/*.less'%}
    <link href="{{ app.request.scheme ~ '://' ~ app.request.httpHost ~ asset_url }}" rel="stylesheet" type="text/css" />          
    {% endstylesheets %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {% block navbar %}
        {{ parent() }}
    {% endblock %}

    {% block notifications %}
        {{ parent() }}
    {% endblock %}

{% block content %}
{% endblock %}
<div class="buffer-down"></div>
{% block modal %}{% endblock %}

{% endblock %}