{% extends "::backend.html.twig" %}
{% block javascripts %}
    {{parent()}}
    {% javascripts '@UAHGestorActividadesBundle/Resources/public/js/backend/admin/degrees.js' filter='?uglifyjs2'%}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
{% block stylesheets %}
    {{parent()}}
    {% stylesheets '@UAHGestorActividadesBundle/Resources/public/css/backend/admin/*.less'
    '@UAHGestorActividadesBundle/Resources/public/css/backend/categories/*.less'%}
    <link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
    {% endstylesheets %}
{%endblock %}
{% block acciones_datos %}
    <div class="row acciones_datos hidden-print">
        <div class="flex-container">
            <div class="flex-item">
                {# <div class="dropdown"> #}
                {# <button type="button" class="btn btn-default" title="Muestra todas las actividades" id="btn_show_all_activities" >
                    <div class="dropdown"> #}
                <li class="dropdown">
                    <button id="dropdownMenu1" href="#" data-toggle="dropdown" class="btn btn-default">
                        Filtra las titulaciones
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu1">
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="{{path('uah_gestoractividades_admin_degrees', {filter: 'CIENCIAS'})}}">Ciencias</a>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="{{path('uah_gestoractividades_admin_degrees', {filter: 'SALUD'})}}">Ciencias de la Salud</a>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="{{path('uah_gestoractividades_admin_degrees', {filter: 'CCSSYJJ'})}}">Ciencias Sociales y Jurídicas</a>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="{{path('uah_gestoractividades_admin_degrees', {filter: 'HUMANIDADES'})}}">Humanidades</a>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="{{path('uah_gestoractividades_admin_degrees', {filter: 'INGYARQ'})}}">Ingeniería y Arquitectura</a>
                        </li>
                        <li role="presentation" class="divider"></li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="{{path('uah_gestoractividades_admin_degrees', {filter: 'ALL'})}}">Todos</a>
                        </li>
                    </ul>
                </li>
            </div>

            <div class="flex-item">
                <button class="btn btn-default" id="btn_create_new_degree" title="Mostrar el formulario para dar de alta nuevas titulaciones" data-toggle="modal" data-target="#modal-create-degree">Dar de alta nueva titulacion</button>
            </div>
        </div>

    </div>

{% endblock %}
{% block title %}
    Panel de administración de titulaciones
{% endblock %}
{% block content %}
    <div class="row top-buffer table-style">
        <table class="table table-bordered tbl_enrolled">
            <thead>
                <tr>
                    <th class="visible-md-up">#</th>
                    <th class="nombre-grado">Nombre</th>
                    <th class="visible-sm-up">Área</th>
                    <th>Código Académico</th>
                    <th class="hidden-print">Acción</th>
                </tr>
            </thead>
            <tbody>
                {% for degree in degrees %}
                    <tr id="degree-{{degree.obj.id}}" data-degree-type="{{degree.tipo}}">
                        <td class="visible-md-up index">{{loop.index}}</td>
                        <td class="degree-name">{{degree.obj.name}}</td>
                        <td class="degree-knowledge-area visible-sm-up">{{degree.obj.knowledgeArea}}</td>
                        <td class="degree-academic-code">{{degree.obj.academicCode}}</td>
                        <td class="text-center">
                            <button class="btn btn-default update_degree" data-degree-id="{{degree.obj.id}}" title="Actualiza los datos de este plan de estudios">Actualizar</button>
                            <button class="btn btn-default delete_degree" data-degree-id="{{degree.obj.id}}" title="Desactiva este plan de estudios y deja a los que están en él, en el mismo">Eliminar</button>
                        </td>
                    </tr>

                {% endfor %}

            </tbody>
        </table>
    </div>
    <div class="modal fade" id="modal-create-degree" role="dialog" data-keyboard="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form class="form-horizontal" id="form-create-degree">
                    <div class="modal-header">
                        <h4>Crear una nueva titulación</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="degree-name" class="col-sm-4 control-label">Nombre Titulación:</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="degree-name" name="degree-name" placeholder="Grado en ...">
                            </div>
                        </div>
                        <div class="form-group">

                            <label for="knowledge-area" class="col-sm-4 control-label">Áreas de conocimiento:</label>
                            <div class="col-sm-8">
                                <select class="selectpicker" name="knowledge-area" title="Area de conocimiento" id="knowledge-area" data-width="100%">
                                    {% set knowledge_areas = ['Artes y Humanidades','Ciencias', 'Ciencias de la Salud','Ciencias Sociales y Jurídicas','Ingeniería y Arquitectura'] %}
                                    {% for knowledge_area in knowledge_areas %}
                                        <option value="{{knowledge_area}}">{{knowledge_area}}</option>
                                    {% endfor %}
                                </select>
                            </div>

                        </div>
                        <div class="form-group">
                            <label for="academic-code" class="col-sm-4 control-label">Código Académico</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="academic-code" name="academic-code" placeholder="G##">
                            </div>
                        </div>
                        <div class="form-group radio-div">
                            <label class="control-label col-sm-4">¿Es un plan de estudio renovado?</label>
                            <label class="radio col-sm-7 col-sm-offset-5">
                                <input type="radio" name="type" value="STATUS_RENEWED">Renovado
                            </label>
                            <label class="radio col-sm-7 col-sm-offset-5">
                                <input type="radio" name="type" value="STATUS_NON_RENEWED">No renovado
                            </label>
                        </div>
                        <input type="hidden" name="degree-id" id="degree-id">
                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-default" id="close_modal" data-dismiss="modal">Cerrar</a>
                        <button class="btn btn-success" type="submit" id="btn_submit_degree">Crear</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
