{% trans_default_domain "gat_admin" %}
{% extends "::backend.html.twig" %}
{% block javascripts %}
    {{parent()}}
    {% javascripts '@UAHGestorActividadesBundle/Resources/public/js/backend/admin/users.js' filter='?uglifyjs2'%}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
{% block stylesheets %}
    {{parent()}}
    {% stylesheets '@UAHGestorActividadesBundle/Resources/public/css/backend/admin/*.less' %}
    <link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
    {% endstylesheets %}
{%endblock %}
{% block acciones_datos %}
    <div class="row acciones_datos hidden-print">
        <div class="flex-container">
            <div class="flex-item">
                <li class="dropdown">
                    <button id="dropdownMenu1" href="#" data-toggle="dropdown" class="btn btn-default">
                        {{'Filtra los usuarios'|trans}}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu1">
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="{{path('uah_gestoractividades_admin_users', {filter: 'STUDENT'})}}">{{'Estudiantes'|trans}}</a>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="{{path('uah_gestoractividades_admin_users', {filter: 'STAFF'})}}">{{'Secretarias de alumnos - PAS'|trans}}</a>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="{{path('uah_gestoractividades_admin_users', {filter: 'PDI'})}}">{{'PDI y Organizadores'|trans}}</a>
                        </li>
                        <li role="presentation" class="divider"></li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="{{path('uah_gestoractividades_admin_users', {filter: 'ADMIN'})}}">{{'Admin'|trans}}</a>
                        </li>
                        <li role="presentation" class="divider"></li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="{{path('uah_gestoractividades_admin_users', {filter: 'SUPERADMIN'})}}">{{'SuperAdmin'|trans}}</a>
                        </li>
                        <li role="presentation" class="divider"></li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="{{path('uah_gestoractividades_admin_users', {filter: 'ALL'})}}">{{'Todos'|trans}}</a>
                        </li>
                    </ul>
                </li>
            </div>

            <div class="flex-item">

                <button class="btn btn-default" id="btn_create_new_default" title="{{'Mostrar el formulario para dar de alta nuevos permisos'|trans}}" data-toggle="modal" data-target="#modal-create-user">{{'Dar de alta nuevo usuario'|trans}}</button>
            </div>
        </div>

    </div>

{% endblock %}
{% block title %}
    {{'Panel de administración de permisos de usuarios'|trans}}
{% endblock %}
{% block content %}
    <div class="row top-buffer col-xs-12 table-style">
        <table class="table table-bordered tbl_enrolled">
            <thead>
                <tr>
                    <th class="hidden-xs-up"></th>
                    <th class="nombre-actividad hidden-xs">{{'Nombre'|trans}}</th>
                    <th class="hidden-print">{{'Usuario UAH'|trans}}</th>
                    <th>{{'Permisos'|trans}}</th>
                    <th class="hidden-print">{{'Acción'|trans}}</th>
                </tr>
            </thead>
            <tbody>
                {% for user_permit in users_permits %}
                    <tr id="default-permit-{{user_permit.default_permit.id}}">
                        <td class="index hidden-xs-up">{{loop.index}}</td>

                        {% if user_permit.user_id is null %}
                            <td class="id_ldap hidden-xs" data-id-ldap="{{user_permit.default_permit.idUsuldap}}" >Todavía no se ha logueado </td>

                        {% elseif user_permit.id_ldap != app.user.username %}
                            
                            <td class="id_ldap hidden-xs" data-id-ldap="{{user_permit.default_permit.idUsuldap}}" >
                                <a href="{{ path("uah_gestoractividades_profile_index",{"_switch_user": user_permit.id_ldap})}}" class="switch_user" title="{{'Cambiarte a este usuario'|trans}}">{{user_permit.name ~ ' ' ~ user_permit.apellido1 ~ ' ' ~ user_permit.apellido2}}</a>
                            </td>
                        {% else %}
                            <td class="id_ldap hidden-xs" data-id-ldap="" >No puedes suplantar tu propio usuario</td>
                        {% endif %}
                        
                        <td class="text-left">{{user_permit.default_permit.idUsuldap|uahuser}}</td>
                        <td class="text-left">
                            <select class="selectpicker" title="{{'Cambiar roles de los usuarios'|trans}}">
                                {% for role in roles %}
                                    {% if role.role != 'ROLE_UAH_SUPER_ADMIN' %}
                                        <option value="{{role.role}}" {% if role in user_permit.default_permit.roles %} selected="true" {% endif %}>{{role.name}}</option>
                                    {% elseif is_granted('ROLE_UAH_SUPER_ADMIN')  %}
                                        <option value="{{role.role}}" {% if role in user_permit.default_permit.roles %} selected="true" {% endif %}>{{role.name}}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </td>
                        <td class="text-center">
                            <button class="btn btn-default update_permissions button-lg" data-default-permit-id="{{user_permit.default_permit.id}}" title="{{'Actualiza los permisos que este usuario tiene disponibles'|trans}}">{{'Actualizar'|trans}}</button>
                            <button class="btn btn-default delete_permissions button-lg" data-default-permit-id="{{user_permit.default_permit.id}}" title="{{'Deja a este usuario con los permisos por defecto (Estudiante) y lo borra de aquí'|trans}}">{{'Quitar'|trans}}</button>
                        </td>
                    </tr>

                {% endfor %}

            </tbody>
        </table>
    </div>
    <div class="modal fade" id="modal-create-user" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <form class="form-horizontal" id="form-create-new-user">
                    <div class="modal-header">
                        <h4>{{'Crear permisos para usuario'|trans}}</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="uah-name" class="col-sm-4 control-label">{{'Nombre UAH:'|trans}}</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="uah-name" placeholder="{{'nombre.apellido'|trans}}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="uah-roles" class="col-sm-4 control-label">{{'Permisos:'|trans}}</label>
                            <div class="col-sm-8">
                                <select class="selectpicker" title="{{'Elegir un los usuarios'|trans}}" id="uah-roles">
                                    {% for role in roles %}
                                        {% if role.role != 'ROLE_UAH_SUPER_ADMIN' %}
                                            <option value="{{role.role}}">{{role.name}}</option>
                                        {% elseif is_granted('ROLE_UAH_SUPER_ADMIN')  %}
                                            <option value="{{role.role}}">{{role.name}}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-default" data-dismiss="modal">{{'Cerrar'|trans}}</a>
                        <button class="btn btn-success" type="submit">{{'Crear'|trans}}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
