{% extends "::backend.html.twig" %}
{% block javascripts %}
    {{parent()}}
    {% javascripts '@UAHGestorActividadesBundle/Resources/public/js/backend/admin/activities.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
{% block stylesheets %}
    {{parent()}}
    {% stylesheets '@UAHGestorActividadesBundle/Resources/public/css/backend/admin/*.less' %}
    <link href="{{ asset_url }}" rel="stylesheet" type="text/css" />            
    {% endstylesheets %}
{%endblock %}
{% block acciones_datos %}
    <div class="row acciones_datos hidden-print">
        <div class="flex-container">
            <div class="flex-item">
                {# <div class="dropdown"> #}
                {# <button type="button" class="btn btn-default" title="Muestra todas las actividades" id="btn_show_all_activities" >
                    <div class="dropdown"> #}
                <li class="dropdown">
                    <button id="dropdownMenu1" href="#" data-toggle="dropdown" class="btn btn-default">
                        Filtra los actividades
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu1">
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="{{path('uah_gestoractividades_admin_users', {filter: 'STUDENT'})}}">Estudiantes</a>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="{{path('uah_gestoractividades_admin_users', {filter: 'STAFF'})}}">Secretarias de alumnos - PAS</a>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="{{path('uah_gestoractividades_admin_users', {filter: 'PDI'})}}">PDI y Organizadores</a>
                        </li>
                        <li role="presentation" class="divider"></li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="{{path('uah_gestoractividades_admin_users', {filter: 'ADMIN'})}}">Todos</a>
                        </li>
                    </ul>
                </li>
            </div>

            <div class="flex-item">
                <button type="button" class="btn btn-default" id="btn_approve_selected" title="Aprueba todas las actividades seleccionadas">Aprobar actividades seleccionadas</button>
            </div>
            <div class="flex-item">
                <button type="button" class="btn btn-default" id="btn_print_pending_report" title="Descarga un pdf con todas las actividades pendientes de aprobar">Imprimir informe actividades pendientes</button>
            </div>
            <div class="flex-item">
                <li class="dropdown">
                    <button id="dropdownMenu1" href="#" data-toggle="dropdown" class="btn btn-default">
                        Descargar CSV 
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right filter-csv" role="menu" aria-labelledby="dropdownMenu1">
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" data-filter="student">Estudiantes</a>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" data-filter="pas" >Secretarias de alumnos - PAS</a>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" data-filter="pdi" >PDI y Organizadores</a>
                        </li>
                        <li role="presentation" class="divider"></li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" data-filter="all" >Todos</a>
                        </li>                        
                    </ul>
                </li>
            </div>
        </div>

    </div>

{% endblock %}
{% block title %}
    Panel de administración de actividades
{% endblock %}
{% block content %}
    <div class="row top-buffer">
        <table class="table table-bordered tbl_enrolled">
            <thead>
                <tr>
                    <th>#</th>
                    <th class="nombre-actividad">Nombre</th>
                    <th class="hidden-print">Usuario UAH</th>
                    <th>Fecha de creación</th>
                    <th>Permisos</th>
                    <th class="hidden-print">Seleccionar</th>                
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr id="user-{{user.id}}">
                        <td class="index">{{loop.index}}</td>
                        <td><a href="{{ path("uah_gestoractividades_profile_index",{"_switch_user": user.IdUsuldap})}}" class="switch_user" title="Cambiarte a este usuario">{{user.name ~ ' ' ~ user.apellido1 ~ ' ' ~ user.apellido2}}</a></td>
                        <td class="text-left">{{user.getUAHUser}}</td>
                        <td class="type">{{user.dateCreated|date('d/m/Y')}}</td>
                        <td class="text-left">{{user.type}}</td>
                        <td class="text-center"><input type="checkbox" value="{{user.id}}"></td>
                    </tr>

                {% endfor %}

            </tbody>
        </table>
    </div>
{% endblock %}