
{% extends '::frontend.html.twig' %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts '@UAHGestorActividadesBundle/Resources/public/js/index.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
{% block stylesheets %}
    {{parent()}}
    {% stylesheets '@UAHGestorActividadesBundle/Resources/public/css/frontend/index/*.less' %}
    <link href="{{ asset_url }}" rel="stylesheet" type="text/css" />          
    {% endstylesheets %}
{% endblock %}
{% block flashmessages %}
    {{parent()}}
{% endblock %}
{% block title %}
    Portal
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row" id="cont-basico">
            <div class="col-lg-4 col-xs-4 col-md-4 clearfix lista-categorias">
                <h4>Elige las categorías que te interesen</h4>
                <div class="lista-categorias">
                    <ul class="no-bullets">
                        <li data-id="-1" class="category"> 
                            <div class="checkbox-column">
                                <input id="checkbox--1" class="all-categories" type="checkbox" checked="checked" aria-label="Todas las categorias" value="-1"/>
                            </div>
                            <div class="category-name"><label for="checkbox--1">Todas las categorias</label></div>
                            <div class="count-activities">{{num_activities|default('0')}}</div>
                        </li>
                        {% for category in categories %}
                            <li data-id="{{category.id}}" class="category" style="display:list-item;"> 
                                <div class="checkbox-column checkbox-category">
                                    <input type="checkbox" id="checkbox-{{category.id}}" aria-label="{{category.name}}" value="category-{{category.id}}"/>
                                </div>
                                <div class="category-name"><label for="checkbox-{{category.id}}">{{category.name}}</label></div>
                                <div class="count-activities">{{category.num_activities}}</div>
                            </li>

                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-lg-8 col-md-8 col-xs-8  activities">
                {% for activity in activities %} 
                    <div class="col-lg-12 col-md-12 col-xs-12 activity category-all {{activity.indexfilter}}" data-activity-id="{{activity.id}}">
                        <div class="row">
                            <div class="col-md-8 col-xs-8">
                                <h3 class="titulo-actividad"><a href="{{path('uah_gestoractividades_activity_index',{'activity_id': activity.id,'slug':activity.slug})}}">{{activity.name}}</a></h3>
                                <div class="abstract-actividad ocultado-vertical">
                                    {{activity.description|raw('html')}}
                                </div>
                                <a class="leer-mas" href="#" data-toggle="modal" data-target="#actividadModalPrincipal">Leer mas</a>
                            </div>
                            <div class="col-md-4 col-xs-4 center-block collapse right-column">
                                <h3 class="fecha-publicidad-actividad activity-date">{{activity.startdate|date("d/m/Y")}}</h3>
                                <a href="{{path('uah_gestoractividades_activity_index',{'activity_id': activity.id,'slug':activity.slug})}}">
                                    <img class="center-block img-rounded img-activity img-small" data-img-src="{{asset(activity.imagepath)}}" src="{{asset(activity.imagepath)}}" data-toggle="modal" data-target="#img-modal" >                                         
                                </a>
                                <div class="credits-index text-center">
                                    Créditos: <span class="badge">{% if activity.numberOfCreditsMax != 0 or activity.numberOfECTSCreditsMax != 0 %}
                                        Si
                                        {% else %}
                                            No
                                            {% endif %}
                                            </span>
                                        </div>
                                        <div class="enrollment-button">
                                            {% if activity.id in enrollments  %}
                                                <button class="btn btn-default center-block btn-success already-enrolled">
                                                    <span class="texto">Inscrito!</span>
                                                    <i class="fa fa-check fa-2x"></i> 
                                                </button>
                                            {% elseif activity.numberOfPlacesOffered <= activity.numberOfPlacesOccupied %}
                                                <button class="btn btn-default center-block btn-info no-places">
                                                    <span class="texto">No hay plazas!</span>
                                                    <i class="fa fa-times fa-2x"></i> 
                                                </button>
                                            {% else %}
                                                <button class="btn btn-default center-block btn-primary enroll-button">
                                                    <span class="texto">Inscribete!</span>
                                                    <i class="fa fa-pencil-square-o fa-2x"></i>
                                                </button>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            </div>
                        </div>
                    </div>

                    {% endblock %}
                        {% block modal %}
                            <div class="modal fade" id="actividadModalPrincipal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content activity activity-modal">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title" id="modal-title"></h4>
                                        </div>
                                        <div class="row">
                                            <div class="modal-body" >
                                                <div class="col-lg-8">
                                                    <div class="abstract-actividad-modal" id="modal-abstract">

                                                    </div>
                                                </div>
                                                <div class="col-lg-4 center-block collapse">
                                                    <h3 id="modal-date"></h3>
                                                    <div id="modal-image">
                                                        <a href="">
                                                            <img class="center-block img-rounded img-activity img-small" src="" >
                                                        </a>
                                                    </div>
                                                    <div id="modal-enrollment-button">                                
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="img-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width:800px;">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                </div>
                                <div class="modal-body">
                                    <img src="/images/brackets/6teamDouble1.jpg">
                                </div>
                                <div class="modal-footer">
                                    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                                </div>
                            </div>

                            {% image '@UAHGestorActividadesBundle/Resources/public/images/ajax-loader.gif' %}
                            <div class="hide" ><i class="fa fa-spinner fa-spin fa-2x" id="ajax-loading-image"></i>
                            <!--    <img src="{{asset_url}}"  style="vertical-align:middle;"> -->
                            </div>
                            {% endimage %}
                        {% endblock %}