
{% extends '::frontend.html.twig' %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts '@UAHGestorActividadesBundle/Resources/public/js/index.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}
{% block content %}
    <div class="container">
        {% set num_veces = 0 %}
        <div class="row" id="cont-basico">
            {% for activity in activities %}
                <div class="col-lg-8 col-md-8 col-lg-offset-4 col-md-offset-4 actividad">
                    <div class="row"><div class="col-md-8">
                            <h3 class="titulo-actividad">{{activity.name}}</h3>
                            <div class="abstract-actividad ocultado-vertical">
                                {{activity.description}}
                            </div>
                            <a class="leer-mas" href="#" data-toggle="modal" data-target="#actividadModalPrincipal">Leer mas</a>
                        </div>
                        <div class="col-md-4 center-block collapse">
                            <h3 class="fecha-publicidad-actividad">{{activity.publicityStartDate|date("d/m/Y")}}</h3>
                            <a href="#" class="thumbnail ">
                                <img class="imagen-actividad" src="{{asset(activity.imagepath)}}" style="width: 120px; height: 160px;">                                 
                            </a>
                            <button class="btn btn-default btn-primary center-block">
                                <span class="glyphicon glyphicon-pencil"></span>Inscribete!</button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {#{% if app.user %}
    {#    user: {{dump(app.user)}}
    {#{% endif %}#}
{% endblock %}
{% block modal %}
    <div class="modal fade" id="actividadModalPrincipal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="modal-title">$NOMBRE</h4>
                </div>
                <div class="row">
                    <div class="modal-body" >
                        <div class="col-lg-8">
                            <div class="abstract-actividad-modal" id="modal-abstract">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sollicitudin tincidunt nisl, id tempus orci viverra gravida. Curabitur ante lacus, varius at turpis a, placerat gravida neque. Aliquam a quam eget nunc interdum commodo et id massa. Cras sollicitudin bibendum purus eu vestibulum. Nullam commodo vulputate tempus. Integer et egestas justo
                            </div>
                        </div>
                        <div class="col-lg-4 center-block collapse">
                            <h3 id="modal-fecha" >02/03/2014</h3>
                            <a href="#" class="thumbnail">
                                <img id="modal-image" src="..">
                            </a>
                            <button class="btn btn-default btn-primary center-block">
                                <span class="glyphicon glyphicon-pencil"></span>Inscribete!</button>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}