{% extends '::backend.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {% stylesheets 
        '@UAHGestorActividadesBundle/Resources/public/css/backend/application.less'%}
    <link href="{{ asset_url }}" rel="stylesheet" type="text/css" />          
    {% endstylesheets %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% if is_granted('ROLE_UAH_STAFF_PAS') %}
        {% javascripts '@UAHGestorActividadesBundle/Resources/public/js/backend/secretaria.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endif %}
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-xs-7">
            <div class="col-xs-12"><em>D/Dº</em></div>
            <div class="col-xs-12 text-center"><h2>{{name ~ ' ' ~ apellido1 ~ ' ' ~ apellido2}}</h2></div>
            <div class="col-xs-12"><em>estudiante de:</em></div>
            <div class="col-xs-12 text-center"><h2>{{degree}}</h2></div>

            <div class="col-xs-12"><em>ha asistido a las actividades abajo listadas y solicita que por ello le sean reconocidos:</em></div>
            <div class="text-center col-xs-12"><h2>{{application.getNumberOfCredits}} {% if typeOfCredits == "ECTS" %}ECTS{% elseif typeOfCredits =="LIBRE" %}Créditos de libre elección{% endif %}</h2></div>


            <div class="text-right col-xs-12"><em>En la Universidad de Alcalá, {{application.applicationDateCreated|date('d/m/Y')}}</em></div>
            <div class="text-right col-xs-12"><em><br>Firma:<br><br></em></div>
        </div>
        <div class="col-xs-5 text-center">
            {#<div class="col-xs-12"><img src="{{ qrcode_url(application.verificationCode) }}"></div>#}
            <div class="col-xs-12">
                <img src="{{ mopa_barcode_url('code128', application.verificationCode, {'barcodeOptions': {
                    barThickWidth: 5,barThinWidth:2.2,
                    barHeight: 160,drawText: false,
                }, 'rendererOptions':  {height:0,width:0} })}}">

            </div>
            <div class="col-xs-12"><h3>{{application.verificationCodeSeparado|raw}} </h3></div>
            <div class="col-xs-12"><button type="button" class="btn btn-default hidden-print btn-action" id="btn_print" onclick="window.print()">Imprimir</button></div>
            {% if show_verify %}
                <div class="col-xs-12">
                    <button class="btn btn-default hidden-print btn-action" id="btn_validate_application" data-app-id="{{application.id}}">Validar este justificante</button>
                </div>
            {% endif %}

        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <table class="table table-bordered tbl_activities">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nombre de la Actividad</th>
                        <th>Número de créditos</th>
                        <th>Tipo</th>
                    </tr>
                </thead>
                <tbody>
                    {% for enrollment in application.enrollments%}
                        <tr>
                            <td>{{loop.index}}</td>
                            <td>{{enrollment.activity.name}}</td>
                            <td>{{enrollment.recognizedCredits}}</td>
                            <td>{{enrollment.creditsType}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>


        </div>
        <div class="col-xs-3"></div>
    </div>
{% endblock %}