{% extends '::frontend.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@UAHGestorActividadesBundle/Resources/public/css/frontend/activity/activity.less' %}
    <link href="{{ asset_url }}" rel="stylesheet" type="text/css" />          
    {% endstylesheets %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts '@UAHGestorActividadesBundle/Resources/public/js/index.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}
{% block content %}
    <div class="container">
        {% if app.user is not null and (activity.organizer == app.user or is_granted('ROLE_UAH_ADMIN')) %}        
            <div class="row">
                <div class="text-center col-xs-6">
                    <a href="{{path('uah_gestoractividades_actividad_edit',{'activity_id': activity.id})}}">
                        <h4>EDITAR</h4>
                    </a>
                </div>
                <div class="text-center col-xs-6">
                    <a href="{{path('uah_gestoractividades_actividad_admin',{'activity_id': activity.id})}}">
                        <h4>ADMINISTRAR</h4>
                    </a>
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="actividad">
                <div class="row">
                    <div class ="title text-center">
                        <h1>{{ activity.name}}</h1>
                    </div>
                </div>
                <div class="row sub-title">
                    <div class="left-column col-lg-8 col-xs-8">
                        <span class="organizador pull-left">Organizado por {{activity.organizername}}</span>
                    </div>
                    <div class="left-column col-lg-4 col-xs-4 text-center">
                        <div class="row">
                            <div class="col-xs-4">Inicio</div><div class="col-xs-8">{{activity.startdate|date("d/m/Y H:i")}}</div>
                            <div class="col-xs-4">Final</div><div class="col-xs-8">{{activity.finishdate|date("d/m/Y H:i")}}</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="left-column col-lg-8 col-xs-8 activity-description">
                        <span>
                            {{activity.description}}
                        </span>
                    </div>
                    <div class="right-column col-lg-4 col-xs-4 ">
                        <a class="" href="#">
                            <img  class="center-block img-rounded img-activity img-big"  data-img-src="{{asset(activity.imagepath)}}"  data-toggle="modal" data-target="#imgmodal" src="{{asset(activity.imagepath)}}" alt="Haz click para verla a tamaño real!">
                        </a>
                        <div class="enrollment-button">

                            <button class="btn btn-default btn-primary center-block enroll-button">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span>Inscribete!</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block modal %}
    <div id="imgmodal" class="modal bs-example-modal-lg fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">

            <div class="modal-content ">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 class="modal-title" id="myModalLabel">Foto a tamaño completo</h3>
                </div>
                <div class="modal-body">
                    <img class="center-block" src="">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    {#
    <div id="imgmodal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width:800px;">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
            <img src="">
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        </div>
    </div>
    #}
{% endblock %}