{% trans_default_domain "gat_profile" %}
{% extends '::backend.html.twig' %}
{% block javascripts %}
    {{parent()}}
    {% javascripts '@UAHGestorActividadesBundle/Resources/public/js/backend/profile.js' filter='?uglifyjs2' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% if is_granted('ROLE_UAH_STAFF_PAS') %}
        {% javascripts '@UAHGestorActividadesBundle/Resources/public/js/backend/secretaria.js' filter='?uglifyjs2' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endif %}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@UAHGestorActividadesBundle/Resources/public/css/backend/profile/*.less' %}
    <link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
    {% endstylesheets %}
{% endblock %}
{% block acciones_datos %}
    <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-xs-12" style="text-align:center">
            <h3>Tus datos</h3>
            <p class="pull-right visible-xs">
                <button class="btn btn-primary btn-sm" data-toggle="offcanvas" type="button">Ver acciones</button>
            </p>
        </div>
        <div class="col-xs-12 col-sm-9" id="left-block">
            <div>
                <div class="form-group ">
                    <label for="inputNombre" class="col-sm-2 col-xs-3 control-label">Nombre</label>
                    <div class="col-sm-10  col-xs-9 datos-usuario">
                        <input type="text" class="form-control datos-alumno" id="inputNombre" value="{{user.name ~ " " ~ user.apellido1 ~ " " ~ user.apellido2 }}" readonly>
                    </div>

                    <label for="inputEmail" class="col-sm-2 col-xs-3 control-label">Email</label>
                    <div class="col-sm-10  col-xs-9 datos-usuario">
                        <input type="email" class="form-control datos-alumno" id="inputEmail" value="{{user.email}}" readonly>
                    </div>

                    <label for="inputCarrera" class="col-sm-2 col-xs-3 control-label">Carrera</label>
                    <div class="col-sm-10  col-xs-9 datos-usuario">
                        <input type="text" class="form-control datos-alumno" id="inputCarrera" value="{{degree.name |default("Ningun grado encontrado")}}" readonly>
                    </div>
                        <label for="inputDNI" class="col-sm-2 col-xs-3 control-label">{{user.tipoDocumentoIdentidad|default('Sin definir')}}</label>
                    <div class="col-sm-10 col-xs-9 datos-usuario">
                        <input type="text" class="form-control datos-alumno" id="inputDNI" value="{{user.documentoIdentidad|default('Sin definir')}}" readonly>
                    </div>
                    <label for="inputRole" class="col-sm-2 col-xs-3 control-label">Rol</label>
                    <div class="col-sm-10 col-xs-9 datos-usuario">
                        <input type="text" class="form-control datos-alumno" id="inputRole" value="{% for role in roles %}{{role.role}}, {% else %} {% endfor %}" readonly>
                    </div>
                </div>
            </div>
        </div>


        <div id="sidebar" class="col-xs-3 col-sm-3 sidebar-offcanvas" id="right-block" role="navigation">
            <div>
                <a href="{{path("uah_gestoractividades_application_index")}}" class="btn btn-default btn-block" id="btn_my_applications">Mis justificantes</a>
                <a href="{{path('uah_gestoractividades_profile_edit')}}" class="btn btn-default btn-block" id="btn_update_data">Actualizar datos</a>
                <a class="btn btn-default btn-block" id="btn_generate_application">Generar un justificante</a>
                {% if is_granted('ROLE_UAH_STAFF_PDI') %}
                    <a href="{{path('uah_gestoractividades_activity_create')}}" class="btn btn-default btn-block" id="btn_create" >Crear una actividad</a>
                    <a href="{{path('uah_gestoractividades_profile_myactivities')}}" class="btn btn-default btn-block">Mis actividades</a>
                {% endif %}
                {% if is_granted('ROLE_UAH_STAFF_PAS') %}
                    <a href="#" class="btn btn-default btn-block" data-toggle="modal" data-target="#modal_app_code">Validar un justificante</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
{% block title %}
    Mi perfil
{% endblock %}
{% block content %}
    <div class="row zona-tabla col-xs-12 table-style">
        <table class="table table-bordered tbl_activities">
            <thead>
                <tr>
                    <th class="hidden-xs">#</th>
                    <th class="nombre-actividad">Nombre</th>
                    <th class="hidden-xs">Fecha inscripción</th>
                    <th class="hidden-xs">Asistencia reconocida</th>
                    <th >Fecha inicio</th>
                    <th>Créditos reconocidos</th>
                    <th class="hidden-xs">Solicitar verificación/Eliminar</th>

                </tr>
            </thead>
            <tbody>
                {% for enrolled_activity in enrolled_activities %}
                    <tr>
                        <td class="centrar-texto-col hidden-xs index">#{{loop.index}}</td>
                        <td><a href="{{ path("uah_gestoractividades_activity_index",{"activity_id": enrolled_activity.id})}}">{{ enrolled_activity.name }}</a></td>
                        <td class="centrar-texto-col hidden-xs">{{ enrolled_activity.dateRegistered |date('d/m/Y')}}</td>
                        <td class="centrar-texto-col hidden-xs">{{ (enrolled_activity.code == "STATUS_ENROLLED") ? 'No':'Si' }}</td>
                        <td class="centrar-texto-col"> {{ enrolled_activity.start_date|date("d/m/Y") }} </td>
                        <td class="centrar-texto-col">{{ enrolled_activity.recognizedCredits|default('-') }}</td>
                        {% if  date(enrolled_activity.start_date) > "now"|date("d/m/Y") and  enrolled_activity.code=="STATUS_ENROLLED"%}
                            <td class="unenroll centrar-texto-col hidden-xs" data-enrollment-id="{{enrolled_activity.enrollment_id}}"><a href="#">Darme de baja</a></td>
                        {% elseif enrolled_activity.code == "STATUS_RECOGNIZED" %}
                            <td class="centrar-texto-col hidden-xs"><input type="checkbox" value="{{enrolled_activity.id_enrollment}}"/></td>
                            {% elseif enrolled_activity.code == "STATUS_PENDING_VERIFICATION" %}
                            <td class="centrar-texto-col hidden-xs"><a href="{{ path("uah_gestoractividades_application_show",{"id":enrolled_activity.application}) }}">Pendiente de verificar</a></td>
                        {% elseif enrolled_activity.code == "STATUS_VERIFIED" %}
                            <td class="centrar-texto-col hidden-xs"><a href="{{ path("uah_gestoractividades_application_show",{"id":enrolled_activity.application}) }}">Verificado</a></td>
                        {% elseif enrolled_activity.code == "STATUS_NOT_RECOGNIZED" %}

                            <td class="hidden-xs">Actividad no reconocida</td>
                        {% else %}
                            <td class="hidden-xs">Estado no reconocido</td>
                        {% endif %}

                    </tr>
                    {% else %}
                        <tr>
                            <td colspan="6" class="text-center">
                                No hemos encontrado ningún dato tuyo de actividades.
                                Porque no pruebas a inscribirte en alguna
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div id="modal_app_code" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h3 id="myModalLabel">Introducir código</h3>
                            </div>

                            <div class="modal-body">
                                <form class="form-horizontal" role="form" id="frm_code">
                                    <div class="form-group">
                                        <label for="inputCode" class="col-xs-2 control-label">Código</label>
                                        <div class="col-xs-10">
                                            <input type="text" pattern=".{20,20}" required title="20 caracteres"  class="form-control" id="inputCode" placeholder="Código">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-xs-offset-2 col-xs-10">
                                            <button type="submit" class="btn btn-default">Ir al justificante</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>

                            </div>
                        </div>
                    </div>
                </div>
                {% endblock %}
